{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'libapp/style.css' %}">
    <title>Document</title>
</head>
<body>
    <style>
        .hello-msg{
          font-size: 18px;
          color: #000000;
          margin-right: 20px;
        }        
    </style>
  
    <!-- Image and text -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">National Library Management System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>    
        <span class="hello-msg">Hello, {{request.user}}</span>
        <span ><a class="hello-msg" href="{% url 'libapp:logout' %}">Logout</a></span>
    </nav>
    <div class="container profile">
        <div class="row">
            <div class="col-md-8">
                <div class="profile-tab">
                    <div class="tab-pane">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Username:</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{user}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email:</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{user.email}}</p>
                            </div>
                        </div>
                        <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'libapp:viewmember' user %}">View Member Details  </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

